.skill_is-outlined {
    border: solid lightgrey 1px;
}

.skill_is-outlined:not(:last-child) {
    border-right: none;
}

@media all and (max-width: 700px) {
    .skill_is-outlined:not(:last-child) {
        border-right: solid lightgrey 1px;
        border-bottom: none;
    }
 }